@model IEnumerable<WeatherNote.Models.Note>
@{
    ViewBag.Title = "Index";
}

<h2>Notes</h2>
@if (!Model.Any())
{
    <p>There are no notes</p>
}
else
{
    @Html.ActionLink("Create new", "Create", "Notes", new { @class = "btn btn-primary" })
    using (Html.BeginForm("Index", "Note", FormMethod.Post, new { @class = "form-inline" }))
    {
            @Html.TextBox("SearchString", "Searh for a note", new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Search</button>
    }
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSort }) </th>
                <th>@Html.ActionLink("Note", "Index", new { sortOrder = ViewBag.NameSort })</th>
                <th>Temperature</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model)
            {
                <tr>
                    <td>@note.Date.ToShortDateString()</td>
                    <td>@note.Message</td>
                    <td>
                        @if (note.Temprature == null)
                        {
                            <text>?</text>
                        }
                        else
                        {
                            @note.Temprature<text> °C</text>;
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit note", "Edit", "Note", new { id = note.Id }, null)
                        @Html.ActionLink("Delete note", "Delete", "Note", new { id = note.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

