@model List<WeatherNote.Models.Note>
@{
    ViewBag.Title = "Index";
}

<h2>Notes</h2>
@if (!Model.Any())
{
    <p>There are no notes</p>
}
else
{
    @Html.ActionLink("Create new", "Create", "Notes", new { @class = "btn btn-primary"})
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Note</th>
                <th>Temperature</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model)
            {
                <tr>
                    <td>@note.Date.ToShortDateString()</td>
                    <td>@note.Message</td>
                    <td>
                        @if (note.Temprature == null)
                        {
                            <text>?</text>
                        }
                        else
                        {
                            @note.Temprature<text> °C</text>;
}
                    </td>
                    <td>
                        @Html.ActionLink("Edit note", "Details", new { id = note.Id }, null)
                        @Html.ActionLink("Delete note", "Delete", new { id = note.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

